node_modules
*.log
!/.idea/
Supprimerait .idea/$PRODUCT_WORKSPACE_FILE$
Supprimerait .idea/.gitignore
Supprimerait .idea/codeStyles/
Supprimerait .idea/misc.xml
Supprimerait .idea/modules.xml
Supprimerait .idea/vcs.xml
Supprimerait .idea/webpack-course.iml
!/.idea/
/yarn.lock
/dist/
